
body
{
    background-image: url("https://preview.ibb.co/gDnqoc/201447.jpg");

}

table
{
    text-align: center;
    width: 100%;
    border-spacing: 20px;
    padding: 10px;
    
}


#find
{
    color: white;
    font-family: Avenir;
    font-size: 20px;
    width: fixed;
    text-align: center;
    
}

#lines 
{
    width: 1250;
    margin-top: 
}
#massInput 
    {
    display: inline-block;
    text-align: center;
    font-family: Avenir;
    width: 80px;
    height: 40px;
    font-size: 20px;

      }
#ask
    {
        font-family: Avenir;
        font-size: 20px; 
        color: aqua;
        width: 200px;
        
        
    }
#massunit
    {
       font-family: Avenir;
        font-size: 20px; 
        color: aqua;
        width: 200px;
        margin-left:33%;
        
        
    }

#result
    {
    list-style-type: none;
    overflow: hidden;
        text-align: center;
           

        
        
    }

li {
    font-family: Avenir;
    padding: 10px;
    background-color: rgb(233,198,249, 0.5);
        color: black;
             border: 1px solid black;
    
}      

#descript 
    {
        font-family: Avenir;
        Font-size: 18px;
        color: grey;
        font-style: italic;
        text-align: center;
        color: aliceblue;        
    }
